<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.comp90018.mapper.FollowersMapper" >
  <resultMap id="BaseResultMap" type="com.comp90018.pojo.Followers" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="following_id" property="followingId" jdbcType="VARCHAR" />
    <result column="follower_id" property="followerId" jdbcType="VARCHAR" />
    <result column="is_follower_friend_of_mine" property="isFollowerFriendOfMine" jdbcType="INTEGER" />
  </resultMap>
</mapper>